{{#unless search}}
<div class="search-input">
    <img alt="search" width="14px" src="/images/search-svgrepo-com.svg" />
    <input type="text" id="conferences-search" name="search" placeholder="Name"
           hx-get="/attendee/conferences"
           hx-trigger="keyup changed delay:500ms"
           hx-target="#search-results" />
</div>
<div id="search-results">
{{/unless}}
    <table class="conferences-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Attendees</th>
        </tr>
        </thead>
        <tbody>
        {{#unless conferences.length}}
            <tr>
                <td colspan="4">No results</td>
            </tr>
        {{/unless}}
        {{#each conferences}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.attendees}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
{{#unless search}}
</div>
<div id="register">
</div>
{{/unless}}
