
    <div class="container">
        <h1>Generate Conference ID</h1>
        <form action="/create_conf_id" method="post"
              hx-post="/create_conf_id" hx-target="#content" hx-swap="innerHTML">
            <button type="submit" class="continue-button">Generate Conference ID</button>
        </form>
    </div>
