
    <div id="main-content">
        <h1>Please name the open space</h1>
        <form action="/create_space" method="POST" hx-post="/create_space" hx-target="#main-content" hx-swap="outerHTML">
            <label for="spaceName">Space Name:</label>
            <input type="text" id="spaceName" name="spaceName" value="{{spaceName}}" required>
            <input type="hidden" id="id" name="id" value="{{id}}">
            <button type="submit">Set Name</button>
        </form>
    </div>
