<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Conference ID</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Generate Conference ID</h1>
        <form action="/create_conf_id" method="post"
              hx-post="/create_conf_id" hx-target="#content" hx-swap="innerHTML">
            <button type="submit" class="continue-button">Generate Conference ID</button>
        </form>
    </div>
</body>
</html>

