<h1>Open Space Schedule</h1>
<table class="schedule">
    <thead>
        <tr>
            {{#each schedule}}
            <th>{{day}}</th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        <tr>
            {{#each schedule}}
            <td>{{#each slot}}{{this}}<br>{{/each}}</td>
            {{/each}}
        </tr>
    </tbody>
</table>