<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Sessions</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Current Sessions</h1>
    <table>
        <thead>
            <tr>
                <th>Session Name</th>
                <th>Type</th>
                <th>Suggested By</th>
            </tr>
        </thead>
        <tbody>
            {{#each sessions}}
            <tr>
                <td>{{this.topic}}</td>
                <td>{{this.sessionType}}</td>
                <td>{{this.name}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <button onclick="window.location.href='/submit_topic';">Suggest Another Topic</button>
</body>
</html>

