<h1>Current Sessions</h1>
<table>
    <thead>
        <tr>
            <th>Session Name</th>
            <th>Type</th>
            <th>Suggested By</th>
        </tr>
    </thead>
    <tbody>
        {{#each sessions}}
        <tr>
            <td>{{this.topic}}</td>
            <td>{{this.sessionType}}</td>
            <td>{{this.name}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<button onclick="window.location.href='/submit_topic';">Suggest Another Topic</button>