<h1>Setup a Conference</h1>
<form action="setup_conference" method="POST">
    <div><label for="name">Name</label><input type="text" id="name" name="name"></div>
    <div><label for="subject">Subject</label><input type="text" id="subject" name="subject"></div>
    <div><label for="start_date">Start Date</label><input type="date" id="start_date" name="start_date"></div>
    <div><label for="end_date">End Date</label><input type="date" id="end_date" name="end_date"></div>
    <div><label for="location">Location</label><input type="text" id="location" name="location"></div>
    <div><label for="capacity">Capacity</label><input type="number" id="capacity" name="capacity"></div>
    <div><label for="price">Price</label><input type="text" id="price" name="price"></div>
    <input type="hidden" name="id" value="{{id}}" />
    <div>
        <button type="submit">Setup</button>
    </div>
</form>