<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Topic for {{eventName}}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Submit Your Topic for {{eventName}}</h1>
        <div class="form-container">
            <form action="/submit_topic" method="POST">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>
                </div>

                <div class="form-group">
                    <label for="type">Facilitation:</label>
                    <input type="text" id="type" name="type" required>
                </div>

                <div class="form-group">
                    <label for="topic">Topic:</label>
                    <textarea id="topic" name="topic" required rows="5"></textarea>
                </div>

                <button type="submit" class="continue-button">Submit</button>
                <input type="hidden" id="id" name="id" value="{{id}}">
            </form>
        </div>
    </div>
</body>
</html>
