<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Topic for {{eventName}}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Topics for {{eventName}}</h1>

        <div class="topics-table">
            <table>
                <thead>
                    <tr>
                        <th>Topic Names</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each topics}}
                    <tr>
                        <td>{{this.name}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>



        <div class="form-container">
            <form action="/submit_topic" method="POST">
                
                <div class="form-group">
                    <label for="name">Topic Name:</label>
                    <textarea id="topic" name="name" required rows="5"></textarea>
                </div>

                <button type="submit" class="continue-button">Submit</button>
                <input type="hidden" id="id" name="id" value="{{id}}">
            </form>
        </div>
    </div>
</body>
</html>
