<form action="/python/request_payment" method="post">
    <label for="name">Name</label><br>
    <input type="text" id="name" name="name" value="{{ data.name }}"><br>

    <label for="username">User Name</label><br>
    <input type="text" id="username" name="username" value="{{ data.username }}"><br><br>

    <label for="conference">Conference</label><br>
    <input type="text" id="conference" name="conference" value="{{ data.conference }}"><br>

    <label for="amount">Amount</label><br>
    <input type="text" id="amount" name="amount" value="{{ data.amount }}"><br>

    <label for="currency">Currency</label><br>
    <input type="text" id="currency" name="currency" value="{{ data.currency }}"><br>

    <input type="submit" value="Submit">
</form>