<html>
<body>
{{ data }}
<form action="/pay" method="post">
    <input type="text" name="name" value="{{ data.name }}" readonly/>
    <input type="text" name="email" value="{{ data.username }}" readonly/>
    <input type="text" name="conference" value="{{ data.conference }}" readonly/>
    <input type="text" name="amount" value="{{ data.amount }}" readonly/>
    <input type="text" name="currency" value="{{ data.currency }}" readonly/>
    <input type="submit" value="Pay"/>
</form>
</body>

</html>