<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ data.name }}</title>
{#    <style>#}
{#        .header {#}
{#            display: flex;#}
{#            justify-content: space-between;#}
{#            align-items: center;#}
{#        }#}
{##}
{#        .buttons {#}
{#            display: flex;#}
{#            gap: 10px;#}
{#        }#}
{##}
{#        table {#}
{#            width: 100%;#}
{#            border-collapse: collapse;#}
{#        }#}
{##}
{#        th, td {#}
{#            border: 1px solid black;#}
{#            padding: 8px;#}
{#            text-align: left;#}
{#        }#}
{##}
{#        th {#}
{#            background-color: #f2f2f2;#}
{#        }#}
{#    </style>#}
</head>
<body>
<div class="header">
    <h1>{{ data.name }}</h1>
    <br>
    <h2>{{ data.subject }}</h2>
    <div class="buttons">
        <a href="/add_rooms">
            <button>Add Rooms</button>
        </a>
        <a href="/add_time_slot">
            <button>Add Time Slot</button>
        </a>
        <a href="/open_registration">
            <button>Open Registration</button>
        </a>
    </div>
</div>

<table>
    <thead>
    <tr>
        <th>Room</th>
        <th>Time Slots</th>
    </tr>
    </thead>
    <tbody>
    {% for room in data.rooms %}
        <tr>
            <td>{{ room.room }}</td>
            <td>{{ room.timeSlots }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
