<html>
<body>
<form action="/pay" method="post">
    <input type="text" name="name"/>
    <input type="text" name="email"/>
    <input type="text" name="conference"/>
    <input type="text" name="amount"/>
    <input type="text" name="currency"/>
    <input type="submit" value="Pay"/>
</form>
</body>

</html>