<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register for Conference</title>
    <link rel="stylesheet" href="/css/styles.css?v=<%= Time.now.to_i %>">
</head>
<body>
UUID: <%= supplied_uuid %>
